<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="X-UA-Compatible"
      content="width=device-width, intial-scale=1.0"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="container">
      <div id="about">
        Daniel is a human before anything else and practices kindness as a
        service. He holds a master’s in forest sciences and forest ecology. He
        fell in love with programming through his graduate research, using R to
        analyze, wrangle and visualize his data. He is mainly self-taught and is
        fascinated by new technologies. When he is not learning something new,
        he enjoys spending time with friends and family. He also recently found
        an interest in playing guitar.
      </div>
    </div>
  </body>
</html>
