@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family:'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border: 20px solid;
}

div{
    display:inline-block
}